// Font variables
$roboto: 'Roboto', serif;

// Stroke Preset
$border-stroke: 1px solid rgb(197, 197, 197);

// Color variables
$loadsmart-green: #14d64d;
$gray-blue: #333e48;
$dark-gray: rgb(65, 65, 65);
$light-gray: rgb(141, 141, 141);
$off-white: rgb(250, 250, 250);
$white: #fff;
