// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

// Font variables
$roboto: 'Roboto', serif;
$border-stroke: 1px solid rgb(197, 197, 197);
$dark-gray: rgb(65, 65, 65);
$light-gray: rgb(141, 141, 141);
$white: #fff;

// CSS Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
}

// Styles
body {
  font-family: $roboto;
}

.nav {
  background-color: #333e48;
  position: sticky;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 20;
  font-size: 14px;

  .nav-content {
    max-width: 1280px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.nav-logo {
  width: 120px;
}

.nav-item {
  text-transform: uppercase;
  display: inline;
  margin-left: 2rem;
  color: $white;

  &:first-child {
    color: #14d64d;
    font-weight: 700;
  }
}

.phone-icon {
  font-size: 10px;
  transform: scale(-1, 1);
}

.main {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shipments-list {
  width: 40%;
  // margin: 0 auto;
  // &:nth-child(3).shipments-list-transfer {
  //   border-bottom: 1px solid red;
  // }
}
.shipments-list-container {
  // align-items: flex-end;
  // margin-left: 5vw;
  // max-width: 1280px;
  // width: 40vw;
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  // width: 40vw;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
  font-size: 14px;
  border-right: $border-stroke;

  // &:not(:last-child) {
  border-bottom: $border-stroke;
  // }

  .shipments-list-deliver {
    align-items: flex-end;
  }

  .shipments-list-pickup {
  }

  .shipments-list-equipment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: flex-end;

    :first-child {
      color: gray;
      font-size: 11px;
    }

    .shipments-equipment-item {
      align-items: flex-end;
    }
    // width: 100vw;
    .dryvan {
      height: 25px;
      width: 25px;
      position: relative;
      top: 7px;
    }
  }

  .shipments-list-transfer {
    display: flex;
    // justify-content: space-evenly;
  }

  li {
    list-style-type: none;
  }
  .shipments-list-route {
    &:not(:nth-child(2)) {
      // margin-right: 20px;
      width: 150px;
    }
  }

  .shipments-list-cost {
    color: $dark-gray;
    font-weight: 500;
  }

  .shipments-list-arrow {
    width: 20px;
    // text-align: center;
    color: $light-gray;
  }

  .shipments-list-deliver,
  .shipments-list-pickup {
    li:first-child {
      font-weight: 500;
      color: $dark-gray;
      margin-bottom: 5px;
    }
    li:nth-child(2) {
      font-size: 12px;
      color: $light-gray;
    }
  }
}

.shipment-single {
  // position: relative;
  // left: 100px;
  width: 60%;

  // background-color: blue;

  .shipment-single-container {
    margin: 60px 0 0 60px;
    display: flex;
    flex-direction: column;

    .shipment-single-cities {
      font-size: 17px;
      font-weight: 500;
      color: rgb(49, 49, 49);
      padding-bottom: 20px;

      span {
        color: $light-gray;
        margin: 0 10px 0 10px;
      }

      .shipment-single-routes:nth-child(2) {
        border-bottom: $border-stroke;
      }
    }

    .shipment-single-section {
      border-bottom: $border-stroke;

      .shipment-single-wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .shipment-single-number {
          width: 10px;
          margin: 39px 10px 0 0;
          color: $white;
          border-radius: 50px;
          height: 15px;
          width: 15px;
          font-size: 13px;
          text-align: center;
          padding: 2.5px;
          background-color: $dark-gray;
        }

        .shipment-single-pickup-delivery {
          padding: 20px 0;
          width: 50%;

          ul {
            display: flex;
            flex-direction: row;
          }
        }

        .shipment-single-pickup-delivery1 {
          border-bottom: $border-stroke;
        }
      }
    }

    .shipment-single-map {
      .shipment-single-map-image {
        width: 40%;
        // margin-left: 20px;
      }
    }

    .shipment-single-content {
      width: 100%;
    }

    li {
      list-style-type: none;
    }

    .shipment-single-icon {
      width: 20px;
    }
  }
}

.tab-list {
  // border-right: 1px solid #ccc;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border-right: 1px solid #fff;
}

@media all and (min-width: 320px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1024px) {
}
