// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

// Burger library icon settings
@import 'settings/hamburgers-settings';
// Hamburger 3rd party library
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
// Colors and font variables
@import 'base/colors-fonts';
// Navigation styles mobile & desktop
@import 'layout/navigation';
// Styles for all shipments panel
@import 'layout/shipments';
// Styles for single shipment panel
@import 'layout/shipment';

// CSS Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Parent div styles

body {
  font-family: $roboto;
  overflow-y: hidden;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
}

@media all and (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
