@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }
  .hamburger.is-active:hover {
    opacity: 1; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -18px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -9px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.nav {
  background-color: #333e48;
  position: sticky;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 20;
  font-size: 14px; }
  .nav .nav-content {
    max-width: 1280px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }

#burger {
  z-index: 15; }
  #burger:focus {
    outline: none; }

.nav-items-burger {
  z-index: 10;
  background: #333e48;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  text-align: center;
  list-style-type: none;
  transition: 0.5s all;
  opacity: 0; }
  .nav-items-burger :first-child {
    color: #14d64d; }
    .nav-items-burger :first-child .phone-icon {
      font-size: 15px; }

.nav-item-burger {
  color: #fff;
  margin: 5vh 0;
  font-size: 20px;
  font-weight: 500; }

.flex-display {
  visibility: visible;
  opacity: 1; }

.nav-items {
  display: none; }
  .nav-items .nav-logo {
    width: 120px;
    cursor: pointer; }

.phone-icon {
  font-size: 10px;
  transform: scale(-1, 1); }

@media all and (min-width: 768px) {
  #burger {
    display: none; }
  .nav-items-burger {
    display: none; }
  .nav .nav-content .nav-items {
    display: inline; }
    .nav .nav-content .nav-items .nav-item {
      cursor: pointer;
      text-transform: uppercase;
      display: inline;
      margin-left: 1.9rem;
      color: #fff; }
      .nav .nav-content .nav-items .nav-item:first-child {
        color: #14d64d;
        font-weight: 700; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Roboto", serif;
  height: 100%;
  overflow: hidden; }

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.shipments-tabs {
  width: 100%; }
  .shipments-tabs .shipments-list {
    overflow-y: auto;
    height: 100vh; }
    .shipments-tabs .shipments-list .shipments-list-container {
      background-color: #fafafa;
      align-items: center;
      padding: 10px 30px;
      border-right: 1px solid #c5c5c5;
      justify-content: space-between;
      font-size: 14px;
      border-left: 1px solid #fafafa; }
      .shipments-tabs .shipments-list .shipments-list-container:nth-child(n + 1):nth-child(-n + 2) {
        border-bottom: 1px solid #c5c5c5; }
      .shipments-tabs .shipments-list .shipments-list-container:last-child {
        height: 400px; }
      .shipments-tabs .shipments-list .shipments-list-container:last-child .shipments-list-transfer {
        padding-bottom: 20px;
        border-bottom: 1px solid #c5c5c5; }
      .shipments-tabs .shipments-list .shipments-list-container a {
        text-decoration: none; }
        .shipments-tabs .shipments-list .shipments-list-container a .shipments-list-deliver {
          align-items: flex-end; }
        .shipments-tabs .shipments-list .shipments-list-container a .shipments-list-equipment {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          align-items: flex-end; }
          .shipments-tabs .shipments-list .shipments-list-container a .shipments-list-equipment :first-child {
            color: gray;
            font-size: 11px; }
          .shipments-tabs .shipments-list .shipments-list-container a .shipments-list-equipment .shipments-equipment-item {
            align-items: flex-end; }
          .shipments-tabs .shipments-list .shipments-list-container a .shipments-list-equipment .dryvan {
            height: 25px;
            width: 25px;
            position: relative;
            top: 7px; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-transfer {
        display: flex; }
      .shipments-tabs .shipments-list .shipments-list-container li {
        list-style-type: none; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-route:not(:nth-child(2)) {
        width: 150px; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-cost {
        color: #414141;
        font-weight: 500; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-arrow {
        width: 20px;
        color: #8d8d8d; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-deliver li:first-child,
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-pickup li:first-child {
        font-weight: 500;
        color: #414141;
        margin-bottom: 5px; }
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-deliver li:nth-child(2),
      .shipments-tabs .shipments-list .shipments-list-container .shipments-list-pickup li:nth-child(2) {
        font-size: 12px;
        color: #8d8d8d; }
    .shipments-tabs .shipments-list .active {
      background-color: #fff;
      border-left: 1px solid #c5c5c5;
      border-right: 1px solid #fff; }

.shipment-single-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0; }
  .shipment-single-specs .equipment {
    font-size: 14px;
    position: relative;
    top: -8px;
    color: rgba(65, 65, 65, 0.9); }
    .shipment-single-specs .equipment img {
      position: relative;
      top: 8px;
      width: 28px; }
  .shipment-single-specs .description {
    font-size: 12px;
    text-transform: uppercase;
    color: #8d8d8d; }
  .shipment-single-specs .ratings {
    display: flex;
    flex-direction: row; }
  .shipment-single-specs .values {
    color: rgba(65, 65, 65, 0.9);
    font-weight: 500;
    font-size: 13px; }
  .shipment-single-specs .stars {
    margin-right: 4px;
    position: relative;
    top: 3px;
    color: #ffc400; }

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem; }

.tab-list-active {
  background-color: #fff;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #fff; }

.shipment-from-to {
  width: 60%;
  margin-right: 5%;
  border-bottom: 1px solid #c5c5c5; }

.shipment-single-map {
  margin-top: 15px;
  width: 280px;
  height: 280px; }

.shipment-single {
  width: 100%; }
  .shipment-single .shipment-single-container {
    margin: 60px 0 0 60px;
    display: flex;
    flex-direction: column; }
    .shipment-single .shipment-single-container .shipment-single-cities {
      font-size: 17px;
      font-weight: 500;
      color: #414141;
      padding-bottom: 20px; }
      .shipment-single .shipment-single-container .shipment-single-cities span {
        color: #8d8d8d;
        margin: 0 10px 0 10px; }
    .shipment-single .shipment-single-container .shipment-single-section:nth-child(odd) {
      border-bottom: 1px solid #c5c5c5; }
    .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper {
      display: flex;
      width: 100%; }
      .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-number {
        margin: 39px 10px 0 0;
        color: #fff;
        border-radius: 50%;
        height: 15px;
        width: 17px;
        font-size: 13px;
        text-align: center;
        padding: 2px;
        background-color: #414141; }
      .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery {
        padding: 20px 0; }
        .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery p {
          line-height: 20px; }
          .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery p:first-child {
            text-transform: uppercase;
            color: #8d8d8d;
            font-size: 13px; }
          .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery p:nth-child(2) {
            color: #414141;
            font-size: 15px;
            font-weight: 500; }
          .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery p:nth-child(3) {
            color: #8d8d8d;
            font-size: 13px; }
        .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery ul {
          display: flex;
          width: 35%; }
          .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery ul li {
            margin-top: 10px;
            margin-right: 10px; }
            .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery ul li img {
              display: block;
              margin: 0 auto; }
            .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery ul li .accessorial {
              color: #414141;
              font-size: 12px; }
      .shipment-single .shipment-single-container .shipment-single-section .shipment-single-wrapper .shipment-single-pickup-delivery1 {
        border-bottom: 1px solid #c5c5c5; }
    .shipment-single .shipment-single-container .shipment-single-routes {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between; }
    .shipment-single .shipment-single-container .shipment-single-content {
      width: 100%; }
    .shipment-single .shipment-single-container li {
      list-style-type: none; }
    .shipment-single .shipment-single-container .shipment-single-icon:not(:last-child) {
      width: 20px; }

@media all and (min-width: 768px) {
  .main {
    flex-direction: row; }
  .shipments-tabs {
    width: 40%; }
  .shipment-single {
    width: 60%; }
    .shipment-single .shipment-single-container {
      margin: 60px 0 0 30px; } }

@media all and (min-width: 1024px) {
  .shipments-tabs {
    width: 40%; }
  .shipment-single {
    width: 60%; }
    .shipment-single .shipment-single-container {
      margin-left: 60px; } }
