// Style preset
$border-stroke: 1px solid rgb(197, 197, 197);

// Color variables
$dark-gray: rgb(65, 65, 65);
$light-gray: rgb(141, 141, 141);
$white: #fff;

.shipment-from-to {
  width: 60%;
  margin-right: 5%;
  border-bottom: $border-stroke;
}

.shipment-single-map {
  margin-top: 15px;
  width: 280px;
  height: 280px;
}

.shipment-single {
  width: 100%;
  height: 100vh;

  .shipment-single-container {
    margin: 60px 0 0 60px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;

    .shipment-single-cities {
      font-size: 17px;
      font-weight: 500;
      color: $dark-gray;
      padding-bottom: 20px;

      span {
        color: $light-gray;
        margin: 0 10px 0 10px;
      }
    }

    .shipment-single-section {
      &:nth-child(odd) {
        border-bottom: $border-stroke;
      }

      .shipment-single-wrapper {
        display: flex;
        width: 100%;

        .shipment-single-number {
          margin: 39px 10px 0 0;
          color: $white;
          border-radius: 50%;
          height: 15px;
          width: 17px;
          font-size: 13px;
          text-align: center;
          padding: 2px;
          background-color: $dark-gray;
        }

        .shipment-single-pickup-delivery {
          padding: 20px 0;

          p {
            line-height: 20px;
            &:first-child {
              text-transform: uppercase;
              color: $light-gray;
              font-size: 13px;
            }
            &:nth-child(2) {
              color: $dark-gray;
              font-size: 15px;
              font-weight: 500;
            }
            &:nth-child(3) {
              color: $light-gray;
              font-size: 13px;
            }
          }

          ul {
            display: flex;
            width: 35%;

            li {
              margin-top: 10px;
              margin-right: 10px;
              img {
                display: block;
                margin: 0 auto;
              }

              .accessorial {
                color: $dark-gray;
                font-size: 12px;
              }
            }
          }
        }

        .shipment-single-pickup-delivery1 {
          border-bottom: $border-stroke;
        }
      }
    }

    .shipment-single-routes {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    .shipment-single-content {
      width: 100%;
    }

    li {
      list-style-type: none;
    }

    .shipment-single-icon:not(:last-child) {
      width: 20px;
    }
  }
}

@media all and (min-width: 768px) {
  .shipment-single {
    width: 60%;

    .shipment-single-container {
      margin: 60px 0 0 30px;
    }
  }
}

.shipment-single-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;

  .equipment {
    font-size: 14px;
    position: relative;
    top: -8px;
    color: rgba($color: $dark-gray, $alpha: 0.9);

    img {
      position: relative;
      top: 8px;
      width: 28px;
    }
  }

  .description {
    font-size: 12px;
    text-transform: uppercase;
    color: $light-gray;
  }

  .ratings {
    display: flex;
    flex-direction: row;
  }

  .values {
    color: rgba($dark-gray, 0.9);
    font-weight: 500;
    font-size: 13px;
  }
  .stars {
    margin-right: 4px;
    position: relative;
    top: 3px;
    color: rgb(255, 196, 0);
  }
}

@media all and (min-width: 1024px) {
  .shipment-single {
    width: 60%;

    .shipment-single-container {
      margin-left: 60px;
    }
  }
}
