$hamburger-active-layer-color: #fff !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-layer-color: #fff !default;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 3px !default;
$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;

$hamburger-types: (collapse) !default;
